{{define "ChefOrderCard"}}
{{ if or (eq (index . 0).Order_status "placed") (eq (index . 0).Order_status "cooking") }}
<div class="d-flex flex-column align-items-center box-shadow p-3 card-box mx-1">
    <div class="d-flex gap-2 justify-content-center flex-column">
        <h4>
            order ID: {{ (index . 0).OrderID }}
        </h4>
        <div class="btns gap-1">
            {{ if eq (index . 0).Order_status "cooking" }}
            <button class="btn btn-sm btn-success markCooking" type="submit" id="{{ (index . 0).OrderID }}">Mark order
                cooking</button>
            {{ else }}
            <button class="btn btn-sm btn-primary markCooking" type="submit" id="{{ (index . 0).OrderID }}">Mark order
                cooking</button>
            {{ end }}
            {{ if eq (index . 0).Order_status "served" }}
            <button class="btn btn-sm btn-success markServed" type="submit" id="{{ (index . 0).OrderID }}">Mark order
                served</button>
            {{ else }}
            <button class="btn btn-sm btn-primary markServed" type="submit" id="{{ (index . 0).OrderID }}">Mark order
                served</button>
            {{ end }}
        </div>
    </div>

    <div class="d-flex flex-column mt-2">
        {{ range . }}
        <div class="card item my-1" style="width: 18rem;">
            <div class="card-header">
                <h4>Item: {{ .ItemName }}</h4>
                <hr>
                <p>Qty: {{ .Qty }}</p>
            </div>
        </div>
        {{ end }}
        <div class="card item my-1" style="width: 18rem;">
            <div class="card-header">
                <h4>Special instructions:</h4>
                <hr>
                <p>{{ (index . 0).Extra_instructions }}</p>
            </div>
        </div>
    </div>
</div>
{{ end}}
{{end}}