MYSQL_HOST=restro_db
MYSQL_PORT=3306
MYSQL_DATABASE=restro_db
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root

PORT=8000
JWT_SECRET=replace_with_a_strong_random_secret
SESSION_SECRET=replace_with_another_random_secret
