<!DOCTYPE html>
<html lang="en">

<head>
    {{template "Head" .}}
    <title>Restro | Admin</title>
</head>

<body>
    <div class="container mt-6">
        {{template "Navbar" .}}
        {{ $pendingOrdersExist := false }}
        <h1>CHEF page</h1>
        <div class="orders d-flex ">
            {{ range .Orders}}
                {{if or (eq (index . 0).Order_status "placed") (eq (index . 0).Order_status "cooking")}}
                    {{ $pendingOrdersExist = true}}
                    {{template "ChefOrderCard" .}}
                {{end}}
            {{end}}

            {{ if not $pendingOrdersExist }}
            <div class="d-flex align-items-center justify-content-center">
                <h2>No pending orders!</h2>
            </div>
            {{ end }}
        </div>
    </div>

    {{template "Bootstrap" .}}
    <script>
        const servedBtns = Array(...document.getElementsByClassName('markServed'))
        servedBtns.forEach(btn => {
            btn.addEventListener('click', async (e) => {
                const element = e.target
                const orderId = element.id
                const cookingBtn = document.querySelectorAll(`button[id="${orderId}"]`)[0]

                if (element.classList.contains('btn-primary')) {

                    await fetch(`/order/served/${orderId}`, {
                        method: "PATCH"
                    })
                        .then(response => response.json())
                        .then(response => {
                            element.classList.remove('btn-primary')
                            element.classList.add('btn-success')
                            cookingBtn.classList.add('btn-primary')
                            cookingBtn.classList.remove('btn-success')
                        })
                        .catch(error => {
                            console.error(e)
                        });

                }
                else {

                    await fetch(`/order/placed/${orderId}`, {
                        method: "PATCH"
                    })
                        .then(response => response.json())
                        .then(response => {
                            element.classList.add('btn-primary')
                            element.classList.remove('btn-success')

                        })
                        .catch(error => {
                            console.error(e)
                        });

                }

            })
        });
        const cookingBtns = Array(...document.getElementsByClassName('markCooking'))
        cookingBtns.forEach(btn => {
            btn.addEventListener('click', async (e) => {
                const element = e.target
                const orderId = element.id

                const servedBtn = document.querySelectorAll(`button[id="${orderId}"]`)[1]

                if (element.classList.contains('btn-primary')) {

                    await fetch(`/order/cooking/${orderId}`, {
                        method: "PATCH"
                    })
                        .then(response => response.json())
                        .then(response => {
                            element.classList.remove('btn-primary')
                            element.classList.add('btn-success')
                            servedBtn.classList.add('btn-primary')
                            servedBtn.classList.remove('btn-success')
                        })
                        .catch(error => {
                            console.error(e)
                        });

                }
                else {

                    await fetch(`/order/placed/${orderId}`, {
                        method: "PATCH"
                    })
                        .then(response => response.json())
                        .then(response => {
                            element.classList.add('btn-primary')
                            element.classList.remove('btn-success')
                        })
                        .catch(error => {
                            console.error(e)
                        });

                }

            })
        });



    </script>
</body>

</html>