<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "Head" .}}
    <title>Restro | Profile</title>
</head>

<body>
    {{ template "Navbar" . }}
    <div class="container mt-6">
        <h1>Profile page</h1>
        <div class="information box-shadow p-3">
            {{ if .User }}
            <h5>username: {{.User.Username}}</h5>
            <h5>email: {{.User.Email}}</h5>
            <h5>full name: {{.User.First_name}} {{.User.Last_name}}</h5>
            {{ if ne .User.Userole "customer"}}
            <h5>Role: {{.User.Userole}}
            </h5>
            {{end}}
            {{end}}
        </div>
    </div>

    {{ template "Bootstrap" .}}
</body>

</html>