<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "Head" .}}
    <title>Restro | Admin</title>
    <style>
        #order-container {
            height: calc(100vh - 12rem);
        }
    </style>
</head>

<body>
    <div class="container mt-6">
        {{ template "Navbar" .}}
        <h1>User Orders</h1>
        <div id="order-container" class="w-100 orders d-flex box-shadow overflow-x-scroll overflow-y-scroll">
            {{ range .UserOrders}}
                {{ template "UserOrderCard" .}}
            {{end}}
        </div>
    </div>

    {{ template "Bootstrap" .}}

</body>

</html>